### Datenaufbereitung für die Gehaltsdaten

#### 1. Import der benötigten Bibliotheken

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
import re

#### 2. Import der Daten

In [2]:
file_path = 'ds_salaries.csv'
data = pd.read_csv(file_path)
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

#### 3. Erste Blicke auf die Daten

In [3]:

data_overview = {
    "first_five_rows": data.head(),
    "data_summary": data.describe(include='all'),
    "missing_values": data.isnull().sum(),
    "data_types": data.dtypes
}

data_overview

{'first_five_rows':    work_year experience_level employment_type                 job_title  \
 0       2023               SE              FT  Principal Data Scientist
 1       2023               MI              CT               ML Engineer
 2       2023               MI              CT               ML Engineer
 3       2023               SE              FT            Data Scientist
 4       2023               SE              FT            Data Scientist

    salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
 0   80000             EUR          85847                 ES           100
 1   30000             USD          30000                 US           100
 2   25500             USD          25500                 US           100
 3  175000             USD         175000                 CA           100
 4  120000             USD         120000                 CA           100

   company_location company_size
 0               ES            L
 1               US            S
 2               US            S
 3               CA            M
 4               CA            M  ,
 'data_summary':           work_year experience_level employment_type      job_title  \
 count   3755.000000             3755            3755           3755
 unique          NaN                4               4             93
 top             NaN               SE              FT  Data Engineer
 freq            NaN             2516            3718           1040
 mean    2022.373635              NaN             NaN            NaN
 std        0.691448              NaN             NaN            NaN
 min     2020.000000              NaN             NaN            NaN
 25%     2022.000000              NaN             NaN            NaN
 50%     2022.000000              NaN             NaN            NaN
 75%     2023.000000              NaN             NaN            NaN
 max     2023.000000              NaN             NaN            NaN

               salary salary_currency  salary_in_usd employee_residence  \
 count   3.755000e+03            3755    3755.000000               3755
 unique           NaN              20            NaN                 78
 top              NaN             USD            NaN                 US
 freq             NaN            3224            NaN               3004
 mean    1.906956e+05             NaN  137570.389880                NaN
 std     6.716765e+05             NaN   63055.625278                NaN
 min     6.000000e+03             NaN    5132.000000                NaN
 25%     1.000000e+05             NaN   95000.000000                NaN
 50%     1.380000e+05             NaN  135000.000000                NaN
 75%     1.800000e+05             NaN  175000.000000                NaN
 max     3.040000e+07             NaN  450000.000000                NaN

         remote_ratio company_location company_size
 count    3755.000000             3755         3755
 unique           NaN               72            3
 top              NaN               US            M
 freq             NaN             3040         3153
 mean       46.271638              NaN          NaN
 std        48.589050              NaN          NaN
 min         0.000000              NaN          NaN
 25%         0.000000              NaN          NaN
 50%         0.000000              NaN          NaN
 75%       100.000000              NaN          NaN
 max       100.000000              NaN          NaN  ,
 'missing_values': work_year             0
 experience_level      0
 employment_type       0
 job_title             0
 salary                0
 salary_currency       0
 salary_in_usd         0
 employee_residence    0
 remote_ratio          0
 company_location      0
 company_size          0
 dtype: int64,
 'data_types': work_year              int64
 experience_level      object
 employment_type       object
 job_title             object
 salary                 int64
 salary_currency       object
 salary_in_usd          int64
 employee_residence    object
 remote_ratio           int64
 company_location      object
 company_size          object
 dtype: object}

#### 4. Kategorische Werte in numerische Werte umwandeln

Kategorische Werte: Folgende Spalten enthalten kategorische Daten: 
**experience_level, employment_type, job_title, salary_currency, employee_residence, company_location, company_size.**
Diese müssen in numerische Werte umgewandelt werden, da lineare Regressionsmodelle mit numerischen Daten arbeiten. Die Umwandlung kann durch Techniken wie One-Hot-Encoding oder Label-Encoding erfolgen.

In [4]:
# Auswahl der kategorischen Spalten
categorical_columns = data.select_dtypes(include=['object']).columns
print(categorical_columns)

# One-Hot-Encoding für kategorische Daten
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(data[categorical_columns])


encoded_columns = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)


prepared_data = data.drop(columns=categorical_columns).join(encoded_df)


prepared_data_overview = {
    "first_five_rows": prepared_data.head(),
    "data_summary": prepared_data.describe(),
    "data_types": prepared_data.dtypes
}

prepared_data_overview

Index(['experience_level', 'employment_type', 'job_title', 'salary_currency',
       'employee_residence', 'company_location', 'company_size'],
      dtype='object')

c:\Users\csang\miniconda3\envs\fhgr\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

{'first_five_rows':    work_year  salary  salary_in_usd  remote_ratio  experience_level_EN  \
 0       2023   80000          85847           100                  0.0
 1       2023   30000          30000           100                  0.0
 2       2023   25500          25500           100                  0.0
 3       2023  175000         175000           100                  0.0
 4       2023  120000         120000           100                  0.0

    experience_level_EX  experience_level_MI  experience_level_SE  \
 0                  0.0                  0.0                  1.0
 1                  0.0                  1.0                  0.0
 2                  0.0                  1.0                  0.0
 3                  0.0                  0.0                  1.0
 4                  0.0                  0.0                  1.0

    employment_type_CT  employment_type_FL  ...  company_location_SI  \
 0                 0.0                 0.0  ...                  0.0
 1                 1.0                 0.0  ...                  0.0
 2                 1.0                 0.0  ...                  0.0
 3                 0.0                 0.0  ...                  0.0
 4                 0.0                 0.0  ...                  0.0

    company_location_SK  company_location_TH  company_location_TR  \
 0                  0.0                  0.0                  0.0
 1                  0.0                  0.0                  0.0
 2                  0.0                  0.0                  0.0
 3                  0.0                  0.0                  0.0
 4                  0.0                  0.0                  0.0

    company_location_UA  company_location_US  company_location_VN  \
 0                  0.0                  0.0                  0.0
 1                  0.0                  1.0                  0.0
 2                  0.0                  1.0                  0.0
 3                  0.0                  0.0                  0.0
 4                  0.0                  0.0                  0.0

    company_size_L  company_size_M  company_size_S
 0             1.0             0.0             0.0
 1             0.0             0.0             1.0
 2             0.0             0.0             1.0
 3             0.0             1.0             0.0
 4             0.0             1.0             0.0

 [5 rows x 278 columns],
 'data_summary':          work_year        salary  salary_in_usd  remote_ratio  \
 count  3755.000000  3.755000e+03    3755.000000   3755.000000
 mean   2022.373635  1.906956e+05  137570.389880     46.271638
 std       0.691448  6.716765e+05   63055.625278     48.589050
 min    2020.000000  6.000000e+03    5132.000000      0.000000
 25%    2022.000000  1.000000e+05   95000.000000      0.000000
 50%    2022.000000  1.380000e+05  135000.000000      0.000000
 75%    2023.000000  1.800000e+05  175000.000000    100.000000
 max    2023.000000  3.040000e+07  450000.000000    100.000000

        experience_level_EN  experience_level_EX  experience_level_MI  \
 count          3755.000000          3755.000000          3755.000000
 mean              0.085220             0.030360             0.214381
 std               0.279246             0.171597             0.410447
 min               0.000000             0.000000             0.000000
 25%               0.000000             0.000000             0.000000
 50%               0.000000             0.000000             0.000000
 75%               0.000000             0.000000             0.000000
 max               1.000000             1.000000             1.000000

        experience_level_SE  employment_type_CT  employment_type_FL  ...  \
 count          3755.000000         3755.000000         3755.000000  ...
 mean              0.670040            0.002663            0.002663  ...
 std               0.470261            0.051543            0.051543  ...
 min               0.000000            0.000000            0.000000  ...
 25%               0.000000            0.000000            0.000000  ...
 50%               1.000000            0.000000            0.000000  ...
 75%               1.000000            0.000000            0.000000  ...
 max               1.000000            1.000000            1.000000  ...

        company_location_SI  company_location_SK  company_location_TH  \
 count          3755.000000          3755.000000          3755.000000
 mean              0.001065             0.000266             0.000799
 std               0.032625             0.016319             0.028258
 min               0.000000             0.000000             0.000000
 25%               0.000000             0.000000             0.000000
 50%               0.000000             0.000000             0.000000
 75%               0.000000             0.000000             0.000000
 max               1.000000             1.000000             1.000000

        company_location_TR  company_location_UA  company_location_US  \
 count          3755.000000          3755.000000          3755.000000
 mean              0.001332             0.001065             0.809587
 std               0.036471             0.032625             0.392679
 min               0.000000             0.000000             0.000000
 25%               0.000000             0.000000             1.000000
 50%               0.000000             0.000000             1.000000
 75%               0.000000             0.000000             1.000000
 max               1.000000             1.000000             1.000000

        company_location_VN  company_size_L  company_size_M  company_size_S
 count          3755.000000     3755.000000     3755.000000     3755.000000
 mean              0.000266        0.120905        0.839680        0.039414
 std               0.016319        0.326061        0.366951        0.194604
 min               0.000000        0.000000        0.000000        0.000000
 25%               0.000000        0.000000        1.000000        0.000000
 50%               0.000000        0.000000        1.000000        0.000000
 75%               0.000000        0.000000        1.000000        0.000000
 max               1.000000        1.000000        1.000000        1.000000

 [8 rows x 278 columns],
 'data_types': work_year                int64
 salary                   int64
 salary_in_usd            int64
 remote_ratio             int64
 experience_level_EN    float64
                         ...
 company_location_US    float64
 company_location_VN    float64
 company_size_L         float64
 company_size_M         float64
 company_size_S         float64
 Length: 278, dtype: object}

#### 5. Standardisierung der Daten

Die numerischen Spalten **work_year, salary und remote_ratio** wurden standardisiert, um einen Mittelwert von 0 und eine Standardabweichung von 1 zu erreichen. Dies hilft dabei, die Daten auf eine gemeinsame Skala zu bringen und die Leistung des linearen Regressionsmodells zu verbessern.

In [5]:


# Auswahl der zu skalierenden numerischen Spalten (außer der Zielvariablen)
numerical_columns = ['work_year', 'salary', 'remote_ratio']


scaler = StandardScaler()
scaled_data = scaler.fit_transform(prepared_data[numerical_columns])


scaled_df = pd.DataFrame(scaled_data, columns=numerical_columns)

final_data = prepared_data.drop(columns=numerical_columns).join(scaled_df)


final_data_overview = {
    "first_five_rows": final_data.head(),
    "data_summary": final_data.describe(),
    "data_types": final_data.dtypes
}

final_data_overview

{'first_five_rows':    salary_in_usd  experience_level_EN  experience_level_EX  \
 0          85847                  0.0                  0.0
 1          30000                  0.0                  0.0
 2          25500                  0.0                  0.0
 3         175000                  0.0                  0.0
 4         120000                  0.0                  0.0

    experience_level_MI  experience_level_SE  employment_type_CT  \
 0                  0.0                  1.0                 0.0
 1                  1.0                  0.0                 1.0
 2                  1.0                  0.0                 1.0
 3                  0.0                  1.0                 0.0
 4                  0.0                  1.0                 0.0

    employment_type_FL  employment_type_FT  employment_type_PT  \
 0                 0.0                 1.0                 0.0
 1                 0.0                 0.0                 0.0
 2                 0.0                 0.0                 0.0
 3                 0.0                 1.0                 0.0
 4                 0.0                 1.0                 0.0

    job_title_3D Computer Vision Researcher  ...  company_location_TR  \
 0                                      0.0  ...                  0.0
 1                                      0.0  ...                  0.0
 2                                      0.0  ...                  0.0
 3                                      0.0  ...                  0.0
 4                                      0.0  ...                  0.0

    company_location_UA  company_location_US  company_location_VN  \
 0                  0.0                  0.0                  0.0
 1                  0.0                  1.0                  0.0
 2                  0.0                  1.0                  0.0
 3                  0.0                  0.0                  0.0
 4                  0.0                  0.0                  0.0

    company_size_L  company_size_M  company_size_S  work_year    salary  \
 0             1.0             0.0             0.0   0.905994 -0.164827
 1             0.0             0.0             1.0   0.905994 -0.239277
 2             0.0             0.0             1.0   0.905994 -0.245978
 3             0.0             1.0             0.0   0.905994 -0.023371
 4             0.0             1.0             0.0   0.905994 -0.105266

    remote_ratio
 0      1.105918
 1      1.105918
 2      1.105918
 3      1.105918
 4      1.105918

 [5 rows x 278 columns],
 'data_summary':        salary_in_usd  experience_level_EN  experience_level_EX  \
 count    3755.000000          3755.000000          3755.000000
 mean   137570.389880             0.085220             0.030360
 std     63055.625278             0.279246             0.171597
 min      5132.000000             0.000000             0.000000
 25%     95000.000000             0.000000             0.000000
 50%    135000.000000             0.000000             0.000000
 75%    175000.000000             0.000000             0.000000
 max    450000.000000             1.000000             1.000000

        experience_level_MI  experience_level_SE  employment_type_CT  \
 count          3755.000000          3755.000000         3755.000000
 mean              0.214381             0.670040            0.002663
 std               0.410447             0.470261            0.051543
 min               0.000000             0.000000            0.000000
 25%               0.000000             0.000000            0.000000
 50%               0.000000             1.000000            0.000000
 75%               0.000000             1.000000            0.000000
 max               1.000000             1.000000            1.000000

        employment_type_FL  employment_type_FT  employment_type_PT  \
 count         3755.000000         3755.000000         3755.000000
 mean             0.002663            0.990146            0.004527
 std              0.051543            0.098788            0.067142
 min              0.000000            0.000000            0.000000
 25%              0.000000            1.000000            0.000000
 50%              0.000000            1.000000            0.000000
 75%              0.000000            1.000000            0.000000
 max              1.000000            1.000000            1.000000

        job_title_3D Computer Vision Researcher  ...  company_location_TR  \
 count                              3755.000000  ...          3755.000000
 mean                                  0.001065  ...             0.001332
 std                                   0.032625  ...             0.036471
 min                                   0.000000  ...             0.000000
 25%                                   0.000000  ...             0.000000
 50%                                   0.000000  ...             0.000000
 75%                                   0.000000  ...             0.000000
 max                                   1.000000  ...             1.000000

        company_location_UA  company_location_US  company_location_VN  \
 count          3755.000000          3755.000000          3755.000000
 mean              0.001065             0.809587             0.000266
 std               0.032625             0.392679             0.016319
 min               0.000000             0.000000             0.000000
 25%               0.000000             1.000000             0.000000
 50%               0.000000             1.000000             0.000000
 75%               0.000000             1.000000             0.000000
 max               1.000000             1.000000             1.000000

        company_size_L  company_size_M  company_size_S     work_year  \
 count     3755.000000     3755.000000     3755.000000  3.755000e+03
 mean         0.120905        0.839680        0.039414 -1.593130e-13
 std          0.326061        0.366951        0.194604  1.000133e+00
 min          0.000000        0.000000        0.000000 -3.433303e+00
 25%          0.000000        1.000000        0.000000 -5.404380e-01
 50%          0.000000        1.000000        0.000000 -5.404380e-01
 75%          0.000000        1.000000        0.000000  9.059945e-01
 max          1.000000        1.000000        1.000000  9.059945e-01

              salary  remote_ratio
 count  3.755000e+03  3.755000e+03
 mean  -1.135355e-17  1.513806e-17
 std    1.000133e+00  1.000133e+00
 min   -2.750136e-01 -9.524327e-01
 25%   -1.350466e-01 -9.524327e-01
 50%   -7.846425e-02 -9.524327e-01
 75%   -1.592582e-02  1.105918e+00
 max    4.498196e+01  1.105918e+00

 [8 rows x 278 columns],
 'data_types': salary_in_usd            int64
 experience_level_EN    float64
 experience_level_EX    float64
 experience_level_MI    float64
 experience_level_SE    float64
                         ...
 company_size_M         float64
 company_size_S         float64
 work_year              float64
 salary                 float64
 remote_ratio           float64
 Length: 278, dtype: object}

#### 6. Entfernen von Spalte salary

In [6]:
# Entfernen der Spalte 'salary'
final_data_updated = final_data.drop(columns=['salary'])

# Überblick über den aktualisierten Datensatz
final_data_updated_overview = {
    "first_five_rows": final_data_updated.head(),
    "data_summary": final_data_updated.describe(),
    "data_types": final_data_updated.dtypes
}

final_data_updated_overview

{'first_five_rows':    salary_in_usd  experience_level_EN  experience_level_EX  \
 0          85847                  0.0                  0.0
 1          30000                  0.0                  0.0
 2          25500                  0.0                  0.0
 3         175000                  0.0                  0.0
 4         120000                  0.0                  0.0

    experience_level_MI  experience_level_SE  employment_type_CT  \
 0                  0.0                  1.0                 0.0
 1                  1.0                  0.0                 1.0
 2                  1.0                  0.0                 1.0
 3                  0.0                  1.0                 0.0
 4                  0.0                  1.0                 0.0

    employment_type_FL  employment_type_FT  employment_type_PT  \
 0                 0.0                 1.0                 0.0
 1                 0.0                 0.0                 0.0
 2                 0.0                 0.0                 0.0
 3                 0.0                 1.0                 0.0
 4                 0.0                 1.0                 0.0

    job_title_3D Computer Vision Researcher  ...  company_location_TH  \
 0                                      0.0  ...                  0.0
 1                                      0.0  ...                  0.0
 2                                      0.0  ...                  0.0
 3                                      0.0  ...                  0.0
 4                                      0.0  ...                  0.0

    company_location_TR  company_location_UA  company_location_US  \
 0                  0.0                  0.0                  0.0
 1                  0.0                  0.0                  1.0
 2                  0.0                  0.0                  1.0
 3                  0.0                  0.0                  0.0
 4                  0.0                  0.0                  0.0

    company_location_VN  company_size_L  company_size_M  company_size_S  \
 0                  0.0             1.0             0.0             0.0
 1                  0.0             0.0             0.0             1.0
 2                  0.0             0.0             0.0             1.0
 3                  0.0             0.0             1.0             0.0
 4                  0.0             0.0             1.0             0.0

    work_year  remote_ratio
 0   0.905994      1.105918
 1   0.905994      1.105918
 2   0.905994      1.105918
 3   0.905994      1.105918
 4   0.905994      1.105918

 [5 rows x 277 columns],
 'data_summary':        salary_in_usd  experience_level_EN  experience_level_EX  \
 count    3755.000000          3755.000000          3755.000000
 mean   137570.389880             0.085220             0.030360
 std     63055.625278             0.279246             0.171597
 min      5132.000000             0.000000             0.000000
 25%     95000.000000             0.000000             0.000000
 50%    135000.000000             0.000000             0.000000
 75%    175000.000000             0.000000             0.000000
 max    450000.000000             1.000000             1.000000

        experience_level_MI  experience_level_SE  employment_type_CT  \
 count          3755.000000          3755.000000         3755.000000
 mean              0.214381             0.670040            0.002663
 std               0.410447             0.470261            0.051543
 min               0.000000             0.000000            0.000000
 25%               0.000000             0.000000            0.000000
 50%               0.000000             1.000000            0.000000
 75%               0.000000             1.000000            0.000000
 max               1.000000             1.000000            1.000000

        employment_type_FL  employment_type_FT  employment_type_PT  \
 count         3755.000000         3755.000000         3755.000000
 mean             0.002663            0.990146            0.004527
 std              0.051543            0.098788            0.067142
 min              0.000000            0.000000            0.000000
 25%              0.000000            1.000000            0.000000
 50%              0.000000            1.000000            0.000000
 75%              0.000000            1.000000            0.000000
 max              1.000000            1.000000            1.000000

        job_title_3D Computer Vision Researcher  ...  company_location_TH  \
 count                              3755.000000  ...          3755.000000
 mean                                  0.001065  ...             0.000799
 std                                   0.032625  ...             0.028258
 min                                   0.000000  ...             0.000000
 25%                                   0.000000  ...             0.000000
 50%                                   0.000000  ...             0.000000
 75%                                   0.000000  ...             0.000000
 max                                   1.000000  ...             1.000000

        company_location_TR  company_location_UA  company_location_US  \
 count          3755.000000          3755.000000          3755.000000
 mean              0.001332             0.001065             0.809587
 std               0.036471             0.032625             0.392679
 min               0.000000             0.000000             0.000000
 25%               0.000000             0.000000             1.000000
 50%               0.000000             0.000000             1.000000
 75%               0.000000             0.000000             1.000000
 max               1.000000             1.000000             1.000000

        company_location_VN  company_size_L  company_size_M  company_size_S  \
 count          3755.000000     3755.000000     3755.000000     3755.000000
 mean              0.000266        0.120905        0.839680        0.039414
 std               0.016319        0.326061        0.366951        0.194604
 min               0.000000        0.000000        0.000000        0.000000
 25%               0.000000        0.000000        1.000000        0.000000
 50%               0.000000        0.000000        1.000000        0.000000
 75%               0.000000        0.000000        1.000000        0.000000
 max               1.000000        1.000000        1.000000        1.000000

           work_year  remote_ratio
 count  3.755000e+03  3.755000e+03
 mean  -1.593130e-13  1.513806e-17
 std    1.000133e+00  1.000133e+00
 min   -3.433303e+00 -9.524327e-01
 25%   -5.404380e-01 -9.524327e-01
 50%   -5.404380e-01 -9.524327e-01
 75%    9.059945e-01  1.105918e+00
 max    9.059945e-01  1.105918e+00

 [8 rows x 277 columns],
 'data_types': salary_in_usd            int64
 experience_level_EN    float64
 experience_level_EX    float64
 experience_level_MI    float64
 experience_level_SE    float64
                         ...
 company_size_L         float64
 company_size_M         float64
 company_size_S         float64
 work_year              float64
 remote_ratio           float64
 Length: 277, dtype: object}

#### 7. Aufteilung der Daten in Trainings- und Testdaten

In [7]:
# Definieren der Merkmale und der Zielvariable
X = final_data_updated.drop('salary_in_usd', axis=1)
y = final_data_updated['salary_in_usd']

# Aufteilen der Daten in Trainings- und Testdatensätze
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Größe der aufgeteilten Datensätze
train_test_split_sizes = {
    "X_train_shape": X_train.shape,
    "X_test_shape": X_test.shape,
    "y_train_shape": y_train.shape,
    "y_test_shape": y_test.shape
}

train_test_split_sizes

{'X_train_shape': (3004, 276),
 'X_test_shape': (751, 276),
 'y_train_shape': (3004,),
 'y_test_shape': (751,)}

#### 8. Speichern der Daten

In [8]:
savepathX_train = 'AufbereiteteDaten/X_trainSalary.csv'
savepathX_test = 'AufbereiteteDaten/X_testSalary.csv'
savepathy_train = 'AufbereiteteDaten/y_trainSalary.csv'
savepathy_test = 'AufbereiteteDaten/y_testSalary.csv'

savefullData = 'AufbereiteteDaten/fullDataSalary.csv'

X_train.to_csv(savepathX_train, index=False)
X_test.to_csv(savepathX_test, index=False)
y_train.to_csv(savepathy_train, index=False)
y_test.to_csv(savepathy_test, index=False)

final_data_updated.to_csv(savefullData, index=False)